.layout {
    height: auto;
    width: 100%;
    background-image: url('../../images/sidebar.jpg');
    background-attachment: fixed;
    background-size: 50%;
}




.layout-main {
    height: auto;
    min-height: 100%;
    width: 100%;
    display: flex;
    flex-direction: row;


}


.layout-datagrid {
    height: auto;
    width: 100%;
    background-color: blue;

}