.card {
    width: 120px;
    height: 120px;
    background: #55BD57;
    margin: 5px;
    border: 4px solid rgb(38, 65, 25);
    border-radius: 5px;
    display: flex;
    flex-direction: column;
}

.card-body {
    width: 100%;
    height: 70%;
    /* background-color: red; */
}

.card-footer {
    width: 100%;
    height: 30%;
    /* background-color: rgb(47, 0, 255); */
    display: flex;
    justify-content: center;
    font-size: medium;
    text-align: center;
}

img.card-body-image {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    object-fit: none;
}