.layout-sidebar {

  height: auto;
  width: auto;
  min-width: 200px;

}

/* .left1 {

  left: 0;
  background-image: url('../../images/sidebar.jpg');
  background-position: left top;
}

.right1 {
  right: 0;
  background-image: url('../../images/sidebar.jpg');
  background-position: right top;
} */